<h2>Cart</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Pizza</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Product</td>
      <td>Quantity</td>
    </tr>
  </tbody>
</table>