<h2>Cart</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Pizza</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">product_1</th>
      <td>Mark</td>
    </tr>
    <tr>
      <th scope="row">product_2</th>
      <td>Jacob</td>
    </tr>
    <tr>
      <th scope="row">product_3</th>
      <td>Jacob</td>
    </tr>
  </tbody>
</table>